# --- build output -----------------------------------------------------------
build/
out/
install/
[Bb]in/
[Oo]bj/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CMakeUserPresets.json
CMakeSettings.json

.vs/
.vscode/
.idea/
.cache/
*.user
*.aps
*.suo
*.sdf
*.opendb
*.VC.db


*.obj
*.o
*.lib
*.exp
*.ilk
*.pdb
*.idb
*.iobj
*.ipdb
*.tlog
*.exe
*.dll
*.res


third_party/nvcodec/*
!third_party/nvcodec/Interface/
third_party/amf/


*.log
*.mp4
settings.ini

docs/
.notes/


/capt-encode.cpp
/capt-main.cpp
/capt-nvenc.cpp
/d3d11.cpp
/ddagrab.c
/ddagrab-filter.c
/vf_ddagrab.c
/hook.h
/obs-duplicator.cpp
/obs-nvenc.c

# --- misc -------------------------------------------------------------------
Thumbs.db
desktop.ini
.DS_Store
/graphify-out
